
.border-head{
    margin-bottom: 1.5rem;
    background-color: #f8694a;
    width: 100%;
    height: 4rem;
}

.card{
    width: 119px;
    height: 149.94px;
    text-align: center;
    background-color: #f8694a;

}
.gogo{
    border-radius: 50%;
    width: 83px;
    height: 76px;
    text-align: center;
}
.line{
    border-bottom: 1px #f8694a solid;
}
.text-catagory{
    bottom: -1px;
    border-bottom: 1px #e6e6e6 solid;
   

}
.section-catagory{
    padding-top: 30px;
  padding-bottom: 30px;
 
}
@media only screen and (max-width:991px){
    .flex{
    width: 130px;
    }
}
.flex{
    width: 112px;
    height: 125px;
    text-align: center;
    /* background-color: #461004;
    border: 1px black solid; */
}
:hover.flex{
    border: 1px orange solid;
}
.flex-row{
    margin-top: 25px;
}
.img-catgory{
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 3px;
    width: 80px;
    height: 80px;
}
.box-catagory{
    margin-top: 25px;
}

.border-edit{
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #f8694a;
    width: 100%;
    height: 0.3rem;
}
.dropbtn {
    border:none; 
    background-color: white;
    cursor: pointer;
    
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
      cursor: pointer;
    }
  
  .show {display: block;}
<<<<<<< HEAD
>>>>>>> 86f223e8c386df89d78949f76342d58070cda30
=======

@media only screen and (max-width: 991px) {
    .flex{
        width: 130px;
        height: 125px;
        text-align: center;
    }
  }
>>>>>>> flashdeal
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:0px;
}
.daboo
{
    width: 400px;
}
.box-add{
    background-color:rgba(61, 61, 61, 0.226);
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.row-add-product{
    margin-top: 25px;
    font-size: 20px;
    color: #f8694a;
    padding-left: 20px;
}
.textadd{
    color: #f8694a;
    margin-left: 1rem;
    font-weight: 750;
    font-family: 'Abril Fatface', cursive;
}
.text-input-width{
    width: 100%;
}
.btn-con{
    font-size: 20px;
    margin-top: 25px;
    
    color: #e6e6e6;
    background-color: #f8694a;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    
}
.btn-con:hover{
    color: #333;
}
.btn-add{
    justify-items: end;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 80%;
}